$hashColor: #1E2274;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body::-webkit-scrollbar {
    width: 5px;
    background: #fff;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #333;
    width: 10px;
    height: 10px;
  }
  
  /*
  html, body {
    width: 100%;
    height: 100%;
  }
  */
  
  body {
    background: #333 url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/26158/kh-pattern.jpg') no-repeat fixed center / cover;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    
  }
  
  .kh-feed {
    max-width: 1024px;
    //background: #f3f3f3;
    min-height: 500px;
    margin: auto;
    padding-bottom: 5px;
    position: relative;
  }
  
  .kh-feed-header {
    background: #fff;
    min-height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10px 5px;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 50;
    
    .menu-button {
      position: relative;
      z-index: 70;
      //padding: 10px;
      width: 35px;
      
      .line {
        width: 100%;
        height: 6px;
        //margin: 10px;
        background: darken(#ccc, 10%);
        
        transition: opacity .300s ease, transform .500s ease, background .300s ease;
        
        &:nth-child(2) {
          margin: 5px 0;
        }
      }
      
      &.active {
        
        .line {
          background: #d4af37;
        }
        
        .line:first-child {
          transform: rotate(45deg) translateY(9px);
          transform-origin: 50% 50%;
          //transform-origin: 50%;
          
        }
        
        .line:nth-child(2) {
          opacity: 0;
          margin: 0;
          
        }
        
        .line:last-child {
          transform: rotate(-45deg) translateY(-9px);
          transform-origin: 50% 50%;
          
        }
      }
    }
    
    .logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .logo-title {
        text-transform: uppercase;
        font-family: 'Coda';
        font-weight: 500;
        font-size: 1.2em;
      }
    }
    

    .cur-char-icon {
      max-width: 65px;

      .cur-char {
        width: 100%;
        border-radius: 50%;
        min-height: 50px;
        overflow: hidden;
        background: #333;
        border: 5px solid #d4af37;

        img {
          
          max-width: 100%;
          height: auto;
          vertical-align: bottom;
        }
      }
    }
  }

  
  .feed-list {
    //background: #fff;
    //padding: 10px;
  }
  
  .feed-item {
    margin: 10px 0;
    &:not(:last-child) {
      margin: 10px 0;
    }
    
    .item-header {
      background: #fff;
      padding: 10px;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }
    
    .item-avatar {
      display: flex;
      align-items: center;
      
      .author-image {
        background: #FD9694;
        width: 75px;
        border-radius: 50%;
        overflow: hidden;
        margin: 10px;
        
        img {
          vertical-align: bottom;
          max-width: 100%;
        }
      }
      
      .author-name {
        font-family: 'Lato';
        font-weight: 700;
        font-size: 1.2em;
        color: darken(#ccc, 25%);
        text-transform: capitalize;
      }
    }
    
    
    .item-image {
      background: #fff;
      width: 100%;
      overflow: hidden;
      margin: auto;
      text-align: center;
      background: #333;
      
      img {
        vertical-align: bottom;
        max-width: 100%;
        height: auto;
      }
    }
    
    .item-caption {
      font-family: 'Coda';
      font-weight: 500;
      padding: 15px 55px;
      background: #fff;
      color: #000;
      font-size: 1.2em;

      vertical-align: middle;


      .item-caption-input {
        font-family: 'Coda';
        width: 100%;
        resize: none;
        font-size: 1em;
        border: 1px solid #000;
        background: #fff;
        color: #000;
        padding: 5px;
      }

    }
    
    .item-comments {
      background: #fff;
      width: 100%;
      padding-top: 25px;
    }
    
    .comment-input {
      padding: 15px 50px 10px;
      width: 100%;
      
      &:before {
        content: " ";
        display: block;
        border-top: 1px solid #ccc;
        padding-bottom: 10px;
        width: 100%;
        margin: auto;
      }
    }

    .comment-input-fields {
      display: flex;
    }
    
    .comment-input-field {
      width: 100%;
      font-size: 1em;
      border: 0;
      padding: 10px;
      outline: none;
      font-family: 'Coda';
      resize: none;
      
      &.edit {
        width: 100%;
        background: rgba(240,240,240,1);
      }
    }
    
  }
  
  .comment-list {
    
    .comment-item {

      position: relative;
      z-index: 5;
      &:not(:first-child) {
        &:before {
          z-index: 0;
          content: " ";
          position: absolute;
          top: 0;
          left: 50%;
          width: 90%;
          transform: translateX(-50%);
          margin: auto;
          border-top: 1px solid #ccc;
        }
      }
      
      padding: 15px 55px;
      font-family: 'Coda';
      font-size: 1em;
      
      display: flex;
      align-items: flex-start;
      
      .comment-author-image {
        width: 50px;
        border-radius: 50%;
        background: #FD9694;
        overflow: hidden;
        margin-right: 10px;
        flex-shrink: 0;
        
        img {
          max-width: 100%;
          height: auto;
          vertical-align: bottom;
        }
      }

      .comment-tools {
        opacity: 0;
        cursor: default;

        transition: opacity .200s ease;
      }

      &:hover {
        .comment-tools {
          opacity: 1;
        }
      }
      
    }
    
    .comment-message {
      width: 100%;
    }
  }
  
  .side-menu {
    border-top: 5px solid #d4af37;
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 0;
    width: 1024px;
    background: #fff;
    z-index: 40;
    left: 50%;
    transform: translateX(-50%);
    //padding-top: 9.8%;
    overflow: hidden;
    font-family: 'Coda';
    opacity: 0;
    transition: max-height .400s ease, opacity .300s ease;
    
    @media(max-width:1022px) {
      left: 0;
      transform: translateX(0);
    }
    
    
    &.active {
      max-height: 500px;
      opacity: 1;
    }
    
    
      
      
      .side-menu-option {
        padding: 20px;
        font-size: 1.4em;
        color: #d4af37;
        background: #fff;
        min-width: 100%;
        background: #fff;
        cursor: pointer;
        display: block;
        text-decoration: none;
  
        transition: background .200s ease, color .200s ease;
  
        &:hover {
          background: #d4af37;
          color: #fff;
        }
  
    
      
    }
    
  } 
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .300s ease;
    
    .modal-card {
      max-width: 60%;
      min-width: 50%;
      background: #fff;
      font-family: 'Coda';
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      
      .modal-title {
        padding: 25px 10px 10px;
        background: #fff;
        color: #d4af37;
        font-size: 1.4em;
        text-align: center;
      }
      
      .modal-body {
        padding: 10px;
        
      }
    }
    
    .modal-close {
      position: absolute;
      top: 3%;
      right: 2.5%;
      font-size: 1.5em;
      color: #d4af37;
      cursor: pointer;
      text-decoration: none;
    }
    
    &:target {
      opacity: 1;
      visibility: visible;
    }
  }
  
  .new-post {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    label {
      display: block;
    }
    
    div {
      width: 100%;
    }
    
    input[type="text"],textarea {
      padding: 5px;
      border: 1px solid #d4af37;
      margin: 10px 0;
      width: 100%;
    }
    
    textarea {
      resize: none;
    }
    
    select {
      margin: 10px 0;
    }
    
    button {
      background: #000;
      color: #fff;
      border: 0;
      padding: 10px 35px;
      font-family: 'Coda';
      display: inline-block;
      font-size: 1.1em;
    }
  }
  
  .char-list-hold {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    
    .char-option {
      display: flex;
      padding: 10px;
      align-items: center;
      cursor: pointer;
      width: calc(100% / 2);
      
      
      .char-option-image {
        width: 75px;
        border-radius: 50%;
        overflow: hidden;
        background: #333;
        
        img {
          max-width: 100%;
          vertical-align: bottom;
        }
      }
      
      .char-option-name {
        margin-left: 5px;
        font-size: 1.3em;
      }
      
      &:hover {
        background: #d4af37;
        color: #fff;
        
      }
      
      &.active {
        background: #d4af37;
        color: #fff;
      }
    }
      
  }
  
  .char-list-hold::-webkit-scrollbar {
    width: 5px;
    background: #f3f3f3;
  }
  
  .char-list-hold::-webkit-scrollbar-thumb {
    background: #333;
    width: 10px;
    height: 10px;
  }
  
  .toolbar {
    padding: 10px;
    
    .dot {
      width: 10px;
      height: 10px;
      background: darken(#ccc, 10%);
      border-radius: 50%;
      
      &:nth-child(2) {
        margin: 5px 0;
      }
    }
  }

  /* Tool bar for posts */

  .item-controls {
      //background: red;
      position: relative;

      .tool-button {
          padding: 10px;
          cursor: pointer;

          .dot {
              width: 8px;
              height: 8px;
              background: darken(#ccc, 10%);
              border-radius: 50%;

              &:nth-child(2) {
                  margin: 5.5px 0;
              }
          }
      }

      .tool-bar {
          opacity: 0;
          visibility: hidden;
          //display: none;
          z-index: 40;
          position: absolute;
          top: 100%;
          right: 0;
          min-width: 150px;
          //height: 50px;
          background: #fff;
          font-family: 'Coda';
          box-shadow: 0 0 0 1px #333;

          transition: opacity .300s ease;
          
          .tool-bar-item {
              padding: 10px;
              cursor: pointer;
              transition: text-indent .200s ease;

              &:hover {
                  //background: red;
                  text-indent: 5px;
              }
          }
      }

      &.active {
          .tool-bar {
                visibility: visible;
                opacity: 1;
          }
      }
  }

  .heart {
    color: $hashColor;
    white-space: nowrap;
    
    &:before {
      display: inline-block;
      width: 20px;
      height: 21px;
      content: " ";
      background: url('/images/hearttag.png') no-repeat;
      background-size: 20px;
      vertical-align: middle;
    }
  }

  /* Mini char selector for comments */

  .mini-char-selector {
    
    background: #fff;
    width: 50px;
    height: 50px;
    padding: 1px;
    position: relative;
    
    

    .selected-char {
      border: 1px solid #d4af37;
      border-radius: 50%;
      overflow: hidden;
      background: #333;
      
    }

    img {
      max-width: 100%;
      height: auto;
      vertical-align: bottom;
    }

    .selected-char-options {
      margin-top: 5px;
      position: absolute;
      bottom: 100%;
      left: 0;
      max-height: 0;
      background: #fff;      
      overflow: hidden;
      z-index: 40;
      
      &.active {
        border: 1px solid #000;
        max-height: 500px;
        overflow-y: auto;
      }

      &::-webkit-scrollbar {
        width: 1px;
      }
    }

    .selected-char-option {
      padding: 5px;

      &:hover {
        background: #d4af37;
      }

      .char-option-image {
        border: 1px solid #d4af37;
        border-radius: 50%;
        overflow: hidden;
        background: #333;
      }

      &.active {
        background: darken(#d4af37, 5%);
      }
    }    
  }

  /* Info */


  .info {
    text-align: center;

    p {
      margin: 10px 0;
    }

    a {
      color: #1E2274;
    }

    .social {
      padding: 10px 0;
    }
  }